[Unit]
Description=etcd key-value store
Documentation=https://github.com/coreos/etcd
After=network.target

[Service]
User=etcd
Type=notify

Environment=ETCD_UNSUPPORTED_ARCH=arm
{#- ignore --param bools in environ #}
{%- for key,value in etcd.service.items() if value not in (False, True,) %}
Environment='ETCD_{{ key|string|upper }}={{ value or "" }}'
{%- endfor %}

{% set args = " --auto-tls=" ~ etcd.service.auto_tls ~ " --peer-auto-tls=" ~ etcd.service.peer_auto_tls %}

ExecStart={{ etcd.realhome }}/etcd {{ args }}
Restart=always
RestartSec=10s
LimitNOFILE=40000
WorkingDirectory={{ etcd.datadir }}

[Install]
WantedBy=multi-user.target
